.websiteTitle {
  color: #325d79;
  text-align: center;
  font-weight: bold;
  font-size: 300%;
  padding: 0.5rem;
}

.link {
  color: #325d79;
  font-size: 100%;
  padding: 10px 10px;
  text-decoration: underline;
}

/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

.main {
  background: #e7e7e7;
  min-height: 100vh;
  box-sizing: border-box;
  /* padding-top: 10vh; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  /* max-width: 60rem; */
  max-width: 100%;
  margin: 0 auto;
  font-size: 112%;
  color: #325d79;
  align-items: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
