/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.activity_tab {
  color: #325d79;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  padding: 0.5rem;
}
.activity_button {
  background-color: #FDFAEC;
  text-align: center;
  font-weight: normal;
  border: 2px solid #04AA6D;
  border-radius: 8px;
  font-size: 50%;
  padding: 0.5rem;
  color: green
}
.activity_header {
  color: green
}
.activity_button:hover {
  background-color: #04AA6D; /* Green */
  color: #FDFAEC;
}
.form {
  color: #325d79;
  text-align: center;
  font-weight: bold;
  font-size: 70%;
  padding: 0.5rem;
}

.activity_form input {
  background-color: #FDFAEC;
  text-align: center;
  font-weight: normal;
  border: 2px solid #04AA6D;
  border-radius: 8px;
  font-size: 50%;
  padding: 0.5rem;
  color: green
}

.name {
  color: #325d79;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  padding: 0.5rem;
}
.tabs label {
  order: 1;
  display: block;
  padding: 0.5rem 0.5rem;
  margin-right: 0.2rem;
  cursor: pointer;
  /* background: #90caf9; */
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-top-left-radius: 10px; /* Rounded corners */
  border-top-right-radius: 10px; /* Rounded corners */
  width: 150px;
  height: 40px;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  /* background: #fff; */
  min-height: 90vh;
}
.tabs input[type="radio"] {
  display: none;
}
/* .tabs input[type="radio"]:checked + label {
  background: #fff;
} */
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

/* Tab One */
#tabone + label {
  background: #869fb1; /* Unique background color for Tab One */
}
.tabs .tab:nth-of-type(1) {
  background: #869fb1;
}

/* Tab Two */
#tabtwo + label {
  background: #f0c5e4; /* Unique background color for Tab Two */
}
.tabs .tab:nth-of-type(2) {
  background: #f0c5e4;
  color: #ba2c78; /* Unique text color for Tab Six */
}

/* Specific styles for RoommatePreferencesForm in Tab 2 */
.tabs .tab:nth-of-type(2) .form-field-container label,
.tabs .tab:nth-of-type(2) .form-field-container input,
.tabs .tab:nth-of-type(2) .form-field-container select,
.tabs .tab:nth-of-type(2) button[type="submit"] {
  color: #ba2c78; /* Adjusted to match the dark pink theme of Tab 2 */
}
/* Tab Two specific styles, ensuring Roboto is used */
.tabs .tab:nth-of-type(2), .tabs .tab:nth-of-type(2) * {
  font-family: 'Roboto', sans-serif;
}


.tabs .tab:nth-of-type(2) button[type="submit"] {
  background-color: #f0c5e4; /* Lighter pink for the button background */
  border-color: #f3eff1; /* Dark pink border to match the theme */
}

/* Ensure input and select fields have dark pink borders */
.tabs .tab:nth-of-type(2) .form-field-container input,
.tabs .tab:nth-of-type(2) .form-field-container select {
  border: 1px solid #f5f5f5; /* Dark pink border */
}


/* Tab Three */
#tabthree + label {
  background: #ecd58c; /* Unique background color for Tab Three */
}
.tabs .tab:nth-of-type(3) {
  background: #ecd58c;
}

/* Tab Four */
#tabfour + label {
  background: #bde7b6; /* Unique background color for Tab Four */
}
.tabs .tab:nth-of-type(4) {
  background: #bde7b6;
}

/* Tab Five */
#tabfive + label {
  background: #9cdee0; /* Unique background color for Tab Five */
}
.tabs .tab:nth-of-type(5) {
  background: #9cdee0;
}
/* Tab Six */
#tabsix + label {
  background: #eac3ff; /* Unique background color for Tab Six */
}
.tabs .tab:nth-of-type(6) {
  background: #eac3ff;
  color: #7b35ad; /* Unique text color for Tab Six */
}

@media (max-width: 60em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

/**
   * Generic Styling
  */
body {
  background: #eee;
  min-height: 100vh;
  box-sizing: border-box;
  /* padding-top: 10vh; */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif, 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  /* max-width: 60rem; */
  max-width: 100%;
  margin: 0 auto;
  font-size: 112%;
  color: #fff;
  text-align: center;
}
